html, body {
  height: 100%;
  width: 100%;
}

h1 {
  padding-top: 2em;
}


.bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.light{
  font-family: 'Oswald', sans-serif, lighter;
  font-weight: lighter;
  font-size : 20pt;
}


.center {
  text-align: center;
}

#author {
  color:gray;
  text-align: center;
  
}

.padding_default {
  padding: 3em 20em 10em 12em;
}

.margin_zero {
  margin: 0;
}

h2{
  font-size: 30px;
  opacity: 70%;
  font-family: sans-serif;
}

.padding_default > div > p{
  line-height: 3;
  margin: 0em;
  text-indent: 50px;
}


li{
  font-size: 20px;
  opacity: 70%;
  font-family: sans-serif;
}

.header_list{
  padding: .5em 0cm;
}

.header_list > p{
  line-height: 3;
  margin: 0em;
  text-indent: 50px;
}

.header_block{
  padding-bottom: 2em;
}

hr{
  margin: 0em 5em 4em 5em;
  opacity: 20%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: 2em 0em;
  width: 100%;
}

td, th {
  border: 1px solid #c8c9cb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}